<div class="slide main-slide slick-initialized slick-slider" role="toolbar">
  <div aria-live="polite" class="slick-list draggable">
    <div class="slick-track" style="opacity: 1;" role="listbox">
      <div class="hero-div atom-bg-grey">
        <div class="slide01 slick-slide" style="background: url(&quot;img/my__test.png&quot;) center center / cover no-repeat transparent;" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00">


        <!-- START sitecore banner content -->
          <style type="text/css">
            [style*="my__test"], [style*="my__test"] .main-slide {height: 410px;}
            [style*="my__test"] {
              background-color: #ccc; /*background color when no image on local*/
              width:100%;
            }
            [style*="my__test"] .mid .section__cta-container--center-btn {
              margin-top: 0;
            }
            .main-slide [style*="my__test"] h2 {
              margin-bottom:11px;
            }

            .main-slide [style*="my__test"] p {
              margin-bottom:16px;
              margin-left:auto; /*fix odd left margin on in local*/
            }
            @media only screen and (max-width: 568px) {
              /*[style*="my__test"] .mid {
                  position: relative;
                  top: 65%;
                  -webkit-transform: translateY(-63%);
                  -ms-transform: translateY(-63%);
                  transform: translateY(-63%);
              }*/
              [style*="my__test"] .slick-slide {
                height: 410px;
              }
            }
            @media only screen and (min-width: 568px) {
            /*[style*="my__test"] .mid {
                  position: relative;
                  top: 60%;
                  -webkit-transform: translateY(-56%);
                  -ms-transform: translateY(-56%);
                  transform: translateY(-56%);
              }*/
            }
            [style*="my__test"] h2, [style*="my__test"] p { color:#fff; }
            [style*="my__test"] p {
              max-width: 600px;
              text-align: center;
              margin-left:auto;
              margin-right: auto;
              padding-left: 15px;
              padding-right: 15px;
            }
          </style>
          <div class="mid">

            <h2>Hero Title.</h2>
            <p>
              <strong>Driving is tough. And potholes, congestion and poor signs make it even worse. Let us know what you think are Ontario’s Worst Roads. </strong>
            </p>
            <div class="section__cta-container--center-btn">
              <a href="#?utm_source=CAA-ProjectName-homepage&utm_medium=banner&utm_campaign=2017-ProjectName" class="atom-btn-sml" tabindex="0" target="_blank"> <span>Test Now</span></a>
            </div>
          </div>

        <!-- END sitecore banner content -->

        </div>
      </div>
    </div>
  </div>
</div>
